.title{
    color: #fff;
    font-weight: 600;
    font-size: 2.12em;
    margin-bottom: 0.4em;
    text-align: center;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;

}

.container{
width:100%;
margin: auto;
}

.ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, 10.38em);
    gap: 20px;
    padding: 40px;
    justify-content: center;
}

.li{
    color: #fff;
    list-style: none;
    font-size: 1rem;
    text-align: center;
}
.li:hover{
    transform: scale(1.1);
    transform-origin: center;
    transition: .3s ease all;
}

.image{
    border-radius: 10px;
    background-color: azure;
    width: 10.50em;
    height: 17.25em;
}

@media (max-width: 560px) {
    .ul{
        grid-template-columns: repeat(2, 1fr);
    }
    .image{
        width: 90%;
        height: auto;
    }
    
}
