.peliculasCarousel{
    margin-bottom: 70px;
    align-items: center;
    .containerTitleControls{
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    .indicators button{
        background:#fff;
        height: 3px;
        width: 10px;
        cursor: pointer;
        border: none;
        margin-right: 2px;
    }
    .indicators button:hover,
    .indicators button.activo{
        background: red;
    }
    .mainContainer{
        display: flex;
        align-items: center;
        position: relative;
    }
    .arrowLeft,
    .arrowRight{
        position: absolute;
        border: none;
        background: rgba(0, 0, 0, 0.3);
        font-size: 40px;
        height: 20%;
        top: calc(50% - 20%);
        line-height: 40px;
        width: 50px;
        color: #fff;
        cursor: pointer;
        z-index: 500;
        transition: .2s ease all;
    }
    .arrowLeft:hover,
    .arrowRight:hover{
        background:rgba(0, 0, 0, .9);
    }
    .arrowLeft{
        left: 0;
    }
    .arrowRight{
        right: 0;
    }
    .containerCarousel{
        width: 100%;
        padding: 20px 0;
        overflow: hidden;
        scroll-behavior: smooth;
    }
    .carousel{
        display: flex;
        flex-wrap: nowrap; //con esta propiedad se asegura que cada elemento este al lado del otro
    }
    .movies{
        min-width: 15%;
        display: flex;
        transition: .2s ease all;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    }
    
}


@media screen and (max-width: 800px){
    .containerCarousel{
        overflow: visible;
        .movies{ 
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px; //espacio entre elementos del grid
        }
    }
    .indicators,
    .arrowRight,
    .arrowLeft{
        display: none;
    }
}